

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label" >Title</label>
    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="The best suited for your property">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label" >Description</label>
    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="Describe the best about your palace"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Location</label>
    <input type="email" class="form-control" name="location" id="exampleFormControlInput2" placeholder="Location">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Country</label>
    <input type="email" class="form-control" name="country" id="exampleFormControlInput3" placeholder="country">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Image URL</label>
    <input type="email" class="form-control" name="url" id="exampleFormControlInput4" placeholder="link">
  </div>
  <a href="/listings">
  <button type="button" class="btn btn-primary btn-md">Large button</button>
</a>
